<div class="section_title">
    Made for Sahil Jain
</div>

<div class="artists_cards">

    <%- include("../partials/artist_card" , {Name:"Yo Yo Honey Singh", desc:"India's Most Popular Rapper", imageSrc:"/assets/honeySinghlatest.jpeg"}) %>
    <%- include("../partials/artist_card" , {Name:"Badshah", desc:"Gyan", imageSrc:"/assets/badshah.jpeg"}) %>
    <%- include("../partials/artist_card" , {Name:"AR Rahman", desc:"Musician", imageSrc:"/assets/ar_rahman.jpeg"}) %>
    <%- include("../partials/artist_card" , {Name:"KR$NA", desc:"Rapper", imageSrc:"/assets/krsna.jpg"}) %>
    <%- include("../partials/artist_card" , {Name:"Harsh Likhari", desc:"Rapper", imageSrc:"/assets/harsh_likhari.jpeg"}) %>
    

</div>