<form action="/artist_library/<%= Name %>">
    <button class="card" artist_name=<%= Name %>>
        <img class="card-img-top" src=<%= imageSrc %> alt="">
        <div class="card-body">
            <div class="card-title">
                <%= Name %>
            </div>
            <div class="card-text">
                <%= desc %>
            </div>
        </div>
    
    </button>
</form>